{
	"datasets": [
		{
			"project": "testproj",
			"dataset": {
                "_id": "testid",
                "things": "here"
            },
			"dir": "testdata",
            "files": [
                {
                    "id": "another",
                    "dirname": "subdir",
                    "required": true
                },
                {
                    "id": "missing",
                    "dirname": "missing",
                    "required": false
                }
            ],
            "files_override": {
                "another": "subdir2"
            }
		}
	]
}
