{
	"datasets": [
		{
			"project": "testproj",
			"dataset": {
                "_id": "testid",
                "things": "here"
            },
			"dir": "testdata",
            "_files": [
                {
                    "id": "another",
                    "dirname": "subdir",
                    "required": true
                }
            ],
            "_files_override": {
                "another": "."
            }
		}
	]
}
