{
  "datasets": [
    {
      "project": "testproj",
      "storage": "xnat",
      "dataset_id": "testid",
      "dir": "testdata",
      "files": [
        {
          "id": "another",
          "dirname": "subdir",
          "required": true
        },
        {
          "id": "missing",
          "dirname": "missing",
          "required": false
        }
      ],
      "files_override": {
        "another": "subdir2"
      }
    }
  ]
}
